.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: rgb(3, 3, 17);
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 10px;
}

.title-text{
  font-size: 20px;
  padding-left: 20px;
  padding-top: 30px;
  text-align: center;
  color: white;
}
.btn-logout{
  font-size: 20px;
  color: white;
  height: 50px;
  width: 110px;
  border: 5px solid #000000;
  position: fixed;
  right: 30px;
  top:30px;
  border-radius: 10px;
  text-align: center;
  background-color: #ff0000;
  transition: 150ms;
  cursor: pointer;
}